<mat-card class="app-card">
    <mat-card-header>
        <mat-card-title>Available</mat-card-title>
    </mat-card-header>
        <mat-card-subtitle class="small">
            <mat-form-field appearance="fill" class="small">
                <input matInput [matDatepicker]="picker" [(ngModel)]="date">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-select class="sel" [(ngModel)]="slot">
                <mat-option *ngFor="let s of slots" [value]="s">
                  {{s}}
                </mat-option>
              </mat-select>
        </mat-card-subtitle>
    <mat-card-actions align="end">
        <button mat-button color="basic" (click)="ui.newApp(date, slot)"><mat-icon>check</mat-icon></button>
        <button mat-button color="warn" (click)="ui.stopNewApp()"><mat-icon>cancel</mat-icon></button>
    </mat-card-actions>
</mat-card>