<div class="doc-cont">
    <div class="app-cont doc-cell">
        <h2 *ngIf="ui.getLoading()">Loading your booked appointments</h2>
        <app-booked-appt *ngFor="let appointment of ui.getPatientBookedAppts()" [appointment]="appointment"></app-booked-appt>
    </div>
    <div class="app-cont doc-cell">
        <h2 *ngIf="ui.getLoading()">Loading available appointments</h2>
        <app-availability *ngFor="let appointment of ui.getAppointments()" [appointment]="appointment"></app-availability>
    </div>